* {
    margin: 0;
    padding: 0;
}


.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 780px;
    margin: 0 auto;
}

#editor {
    height: 240px;
    width: 480px;
    border-radius: 8px;
    padding: 20px;
    margin: 25px 0

}

#previewer{
    min-height: 240px;
    width: 480px;
    text-align: left;
    border: 1px solid #000;
    border-radius: 8px;
    padding: 20px;
}